<p>
  <strong>First Name:</strong>
  <%= @author.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Homepage:</strong>
  <a href=<%= @author.homepage %>><%= @author.homepage %></a>
</p>

<p>
  <strong>Papers:</strong>
  <ul>
  <% @author.papers.each do |paper| %>
    <li><%= link_to paper.title, paper_path(paper) %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Back', authors_path %>
